@font-face {
  font-family: IndustrialDesign;
  src: url(../fonts/IndustrialDesign.ttf); }

@font-face {
  font-family: IntegralCF;
  src: url(../fonts/IntegralCF-Regular.ttf); }

@font-face {
  font-family: IntegralCF-Bold;
  src: url(../fonts/IntegralCF-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(#000000, #121212);
  color: #FFFFFF;
  margin: 0; }

#creativeDisorderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh; }
  #creativeDisorderContainer #introContainer {
    width: 36%;
    padding-bottom: 5%; }
    #creativeDisorderContainer #introContainer #introImage {
      width: 100%;
      margin: 0 auto; }
    #creativeDisorderContainer #introContainer #introText {
      text-align: center;
      padding: 10% 11%;
      margin: 0;
      font-size: 1.4vw; }
  #creativeDisorderContainer #btnIntro {
    background: none;
    border: solid;
    color: white;
    border-color: #FFFFFF;
    border-radius: 2vh;
    padding: 0.6% 2.4% 0.7%;
    font-size: 1.6vw;
    position: absolute;
    bottom: 10%;
    cursor: pointer; }
  #creativeDisorderContainer .tipoIndustrial {
    font-family: IndustrialDesign;
    font-size: 2.7vw;
    line-height: 1.2vw;
    text-align: center;
    transform: rotate(-10deg);
    position: absolute;
    bottom: 10%;
    left: 7%;
    margin: 0; }

nav {
  width: 12vw;
  padding-left: 5vw;
  margin-top: 50px; }
  nav .nav-bar {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    nav .nav-bar .nav-logo {
      width: 75%;
      margin-bottom: 2vw; }
    nav .nav-bar li {
      padding: 0.7vw 0;
      font-size: 1vw;
      text-transform: uppercase; }
      nav .nav-bar li a {
        text-decoration: none;
        color: #FFFFFF; }

#homeBody {
  display: flex;
  flex-direction: column; }
  #homeBody #homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px; }
    #homeBody #homeHeader #homeTitle {
      display: flex;
      flex-direction: column;
      align-self: end;
      padding-right: 7%; }
      #homeBody #homeHeader #homeTitle h2 {
        font-size: 10vw;
        line-height: 8vw;
        text-align: center;
        letter-spacing: 5px;
        margin: 20px 0;
        font-family: IntegralCF; }
        #homeBody #homeHeader #homeTitle h2 .underlined-blue {
          border-bottom: 2px solid #1169A0;
          padding-bottom: 20px; }
  #homeBody #homeContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5vw 0; }
    #homeBody #homeContent .articleHome {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center; }
      #homeBody #homeContent .articleHome video, #homeBody #homeContent .articleHome img {
        width: 100%;
        margin: 5%;
        margin-bottom: 40px; }
      #homeBody #homeContent .articleHome .border-gradient {
        box-shadow: 0 0 150px rgba(17, 105, 160, 0.3); }
      #homeBody #homeContent .articleHome h3 {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0; }
      #homeBody #homeContent .articleHome .subtitle-article-home {
        font-size: 15px;
        text-align: center;
        margin: 10px; }
      #homeBody #homeContent .articleHome .link-article-home {
        font-size: 15px;
        text-transform: uppercase;
        margin: 20px; }
        #homeBody #homeContent .articleHome .link-article-home a {
          color: #FFFFFF; }
      #homeBody #homeContent .articleHome #workSectionHome {
        margin-top: 2vw; }
      #homeBody #homeContent .articleHome .tipoIndustrial {
        font-family: IndustrialDesign;
        font-size: 2.7vw;
        line-height: 1.5vw;
        text-align: center;
        transform: rotate(3deg); }
      #homeBody #homeContent .articleHome .btn-work-home {
        background: none;
        border: solid;
        color: white;
        border-color: #FFFFFF;
        border-radius: 20px;
        padding: 15px 60px 20px;
        font-size: 1.6vw;
        cursor: pointer; }

#workContent {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 83vw; }

.page-title {
  font-family: IntegralCF-Bold;
  font-size: 3.5vw;
  margin: 1vw 0 0 0; }

.industrial-page-subtitle {
  font-family: IndustrialDesign;
  font-size: 2.1vw;
  text-align: center;
  line-height: 1.4vw;
  margin: 2vw 0 0 0; }

#workMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 4vw;
  position: relative;
  top: -2.4vw; }
  #workMenu .work-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-decoration: none;
    color: #FFFFFF; }
    #workMenu .work-menu-item img {
      width: 120%;
      position: relative; }
    #workMenu .work-menu-item #canImage {
      margin-top: 2vw; }
    #workMenu .work-menu-item #cerealImage {
      margin-top: 2.2vw; }
    #workMenu .work-menu-item .work-menu-item-tag {
      border: solid;
      border-width: 1px;
      border-color: #FFFFFF;
      border-radius: 0.9vw;
      padding: 0.8vw 0 1vw;
      text-transform: uppercase;
      width: 70%; }
      #workMenu .work-menu-item .work-menu-item-tag h3 {
        font-size: 1vw;
        text-align: center;
        margin: 0; }
      #workMenu .work-menu-item .work-menu-item-tag p {
        font-size: 0.8vw;
        text-align: center;
        margin: 0; }

.side-notation {
  font-family: IndustrialDesign;
  font-size: 1.5vw;
  line-height: 1vw;
  transform: rotate(-10deg);
  position: relative;
  background-color: #121212; }

#notationA {
  right: 2.8vw;
  bottom: 1.6vw; }

#notationB {
  left: 6vw;
  bottom: 1vw; }

#aboutmeBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6vw; }
  #aboutmeBody .notation {
    font-family: IndustrialDesign;
    position: relative;
    font-size: 2.5vw;
    text-align: center;
    line-height: 1.6vw;
    margin: 0; }
  #aboutmeBody #aboutmeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px; }
    #aboutmeBody #aboutmeHeader #aboutmeHeroImage {
      width: 32.4vw; }
      #aboutmeBody #aboutmeHeader #aboutmeHeroImage img {
        width: 100%; }
      #aboutmeBody #aboutmeHeader #aboutmeHeroImage .notation {
        transform: rotate(-10deg);
        bottom: 12vw;
        left: 14vw; }
    #aboutmeBody #aboutmeHeader #aboutmeIntro {
      width: 48vw;
      display: flex;
      flex-direction: column; }
      #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeTitles {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-self: center;
        margin: 4vw 0; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeTitles p {
          font-family: IndustrialDesign;
          font-size: 2vw;
          margin: 0;
          position: relative; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeTitles #hiIm {
          top: 1.2vw;
          left: -1.6vw; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeTitles #studentTrilingualBicultural {
          top: -0.2vw;
          align-self: center; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeTitles h2 {
          font-family: IntegralCF-Bold;
          font-size: 3vw;
          margin: 0; }
          #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeTitles h2 span {
            font-family: IndustrialDesign;
            font-size: 4vw;
            position: relative;
            top: 0.6vw;
            left: -0.2vw; }
      #aboutmeBody #aboutmeHeader #aboutmeIntro .aboutme-subtitle {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 1vw; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro .aboutme-subtitle h3 {
          font-size: 1.8vw;
          padding-left: 2vw;
          margin: 0; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro .aboutme-subtitle hr {
          display: inline;
          color: white;
          background-color: white;
          border-width: 0px;
          width: 56%;
          height: 1px;
          margin: 0; }
      #aboutmeBody #aboutmeHeader #aboutmeIntro ul {
        list-style: none;
        padding-right: 4vw;
        margin-bottom: 4vw; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro ul li {
          font-size: 1.3vw;
          line-height: 1.8vw; }
      #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeContact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 4vw; }
        #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeContact .contact-tag {
          border: solid;
          border-width: 1px;
          border-color: #FFFFFF;
          border-radius: 0.8vw;
          padding: 0.3vw 0;
          margin: 0.5vw 1vw;
          text-transform: uppercase;
          width: 36%;
          color: #FFFFFF;
          text-decoration: none; }
          #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeContact .contact-tag h3 {
            font-size: 0.8vw;
            text-align: center;
            margin: 0.2vw; }
          #aboutmeBody #aboutmeHeader #aboutmeIntro #aboutmeContact .contact-tag p {
            font-size: 0.6vw;
            text-align: center;
            margin: 0; }
  #aboutmeBody #curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 9vw; }
    #aboutmeBody #curriculum #cvTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4vw; }
      #aboutmeBody #curriculum #cvTitle h2 {
        font-family: IndustrialDesign;
        font-size: 4vw;
        font-weight: lighter;
        margin: 0; }
      #aboutmeBody #curriculum #cvTitle img {
        width: 28vw;
        position: relative;
        bottom: 0.7vw;
        left: 1.3vw; }
    #aboutmeBody #curriculum #curriculumContent {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      #aboutmeBody #curriculum #curriculumContent ul {
        list-style: none;
        margin-left: 0.8vw;
        padding-left: 0; }
      #aboutmeBody #curriculum #curriculumContent li {
        display: flex; }
      #aboutmeBody #curriculum #curriculumContent li:before {
        font-family: IndustrialDesign;
        font-size: 2.7vw;
        content: "*"; }
      #aboutmeBody #curriculum #curriculumContent .cv-title {
        border: solid;
        border-width: 1px;
        border-color: #FFFFFF;
        border-radius: 0.8vw;
        padding: 0.2vw 2.1vw 0.5vw;
        text-transform: uppercase;
        width: fit-content;
        margin-bottom: 2vw; }
        #aboutmeBody #curriculum #curriculumContent .cv-title h3 {
          margin: 0;
          font-size: 2vw; }
      #aboutmeBody #curriculum #curriculumContent .cv-section {
        width: 42%; }
        #aboutmeBody #curriculum #curriculumContent .cv-section .cv-element {
          margin-left: 0.5vw;
          margin-bottom: 2vw;
          width: 100%; }
          #aboutmeBody #curriculum #curriculumContent .cv-section .cv-element h4 {
            font-size: 1.6vw;
            margin: 0;
            text-transform: uppercase; }
          #aboutmeBody #curriculum #curriculumContent .cv-section .cv-element h5 {
            font-size: 1.4vw;
            margin: 0;
            font-weight: normal; }
          #aboutmeBody #curriculum #curriculumContent .cv-section .cv-element hr {
            border-width: 1px;
            border-color: #1169A0; }
          #aboutmeBody #curriculum #curriculumContent .cv-section .cv-element p {
            font-size: 1vw;
            line-height: 1.2vw; }
          #aboutmeBody #curriculum #curriculumContent .cv-section .cv-element .date-location {
            font-size: 0.8vw;
            color: #8B8B8B;
            font-style: italic; }
      #aboutmeBody #curriculum #curriculumContent .box-blue-border {
        padding: 2vw;
        border-style: solid;
        border-radius: 3vw;
        border-color: #1169A0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vw;
        position: relative; }
        #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares {
          display: flex;
          justify-content: space-evenly;
          width: 100%; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares h4 {
            font-size: 1.4vw;
            text-transform: uppercase;
            text-align: center;
            margin: 0; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares hr {
            border-width: 1px;
            border-color: #1169A0; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares ul {
            margin-left: 0; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares .list-left {
            text-align: left; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares .list-center {
            text-align: center; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares .list-right {
            text-align: right; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares li {
            font-size: 1vw;
            list-style: none;
            display: grid; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvSoftwares li:before {
            content: ""; }
        #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvLanguages ul {
          margin: 0; }
        #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvLanguages li {
          font-size: 1.4vw;
          display: block;
          text-align: center; }
          #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvLanguages li span {
            text-transform: uppercase;
            font-weight: bold; }
        #aboutmeBody #curriculum #curriculumContent .box-blue-border #cvLanguages li:before {
          content: ""; }
      #aboutmeBody #curriculum #curriculumContent #softwareLanguages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 44.4%; }
      #aboutmeBody #curriculum #curriculumContent #courses {
        width: 44.4%; }
        #aboutmeBody #curriculum #curriculumContent #courses .notation {
          transform: rotate(-10deg);
          text-align: left;
          position: absolute;
          left: -3vw;
          top: -2vw;
          background-color: #111111; }
        #aboutmeBody #curriculum #curriculumContent #courses .cv-element {
          margin-bottom: 1vw; }
        #aboutmeBody #curriculum #curriculumContent #courses h4 {
          font-size: 1.4vw;
          margin-bottom: 0.5vw; }
        #aboutmeBody #curriculum #curriculumContent #courses p {
          margin: 0; }
      #aboutmeBody #curriculum #curriculumContent #specialSkills {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #aboutmeBody #curriculum #curriculumContent #specialSkills div ul {
          display: flex;
          justify-content: space-evenly; }
          #aboutmeBody #curriculum #curriculumContent #specialSkills div ul li {
            margin: 0 1vw; }
            #aboutmeBody #curriculum #curriculumContent #specialSkills div ul li h4 {
              padding-left: 0.5vw;
              font-weight: normal;
              font-size: 1.6vw;
              text-transform: uppercase;
              margin: 0; }
        #aboutmeBody #curriculum #curriculumContent #specialSkills div img {
          width: 55vw;
          position: relative;
          bottom: 2vw;
          left: 2vw; }

.flex-body {
  display: flex;
  flex-direction: row; }

.body-height-100 {
  height: 100vh; }

.works-content {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  text-align: center;
  width: 83vw; }
  .works-content .industrial-page-subtitle {
    margin: 0;
    font-size: 3.5vw;
    font-weight: normal; }

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px; }
  .works-list .work-item {
    width: 50%;
    margin-bottom: 100px; }
    .works-list .work-item .work-item-tag {
      position: absolute;
      transform: rotate(-10deg);
      background-color: #000000; }
      .works-list .work-item .work-item-tag h5, .works-list .work-item .work-item-tag h6 {
        font-size: 28px;
        text-transform: uppercase;
        margin: 0;
        line-height: 24px; }
      .works-list .work-item .work-item-tag h6 {
        font-family: IndustrialDesign; }
    .works-list .work-item a {
      text-decoration: none;
      color: #FFFFFF; }
    .works-list .work-item img, .works-list .work-item video {
      width: 80%; }
    .works-list .work-item h4 {
      font-size: 20px;
      margin: 34px 0 12px; }
    .works-list .work-item p {
      font-size: 15px;
      margin: 0; }

.page-coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 83vw; }
  .page-coming-soon .industrial-page-subtitle {
    margin: 0;
    font-size: 3.5vw;
    font-weight: normal; }
