@font-face {
    font-family: IndustrialDesign;
    src: url(../fonts/IndustrialDesign.ttf);
}
@font-face {
    font-family: IntegralCF;
    src: url(../fonts/IntegralCF-Regular.ttf);
}
@font-face {
    font-family: IntegralCF-Bold;
    src: url(../fonts/IntegralCF-Bold.ttf);
}

@import "variables";

html {
    scroll-behavior: smooth;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient($black, $darkgray);
    color: $white;
    margin: 0;
}
#creativeDisorderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    #introContainer {
        width: 36%;
        padding-bottom: 5%;
        #introImage {
            width: 100%;
            margin: 0 auto;
        }
        #introText {
            text-align: center;
            padding: 10% 11%;
            margin: 0;
            font-size: 1.4vw;
        }
    }
    #btnIntro {
        background: none;
        border: solid;
        color: white;
        border-color: $white;
        border-radius: 2vh;
        padding: 0.6% 2.4% 0.7%;
        font-size: 1.6vw;
        position: absolute;
        bottom: 10%;
        cursor: pointer;
    }
    .tipoIndustrial {
        font-family: IndustrialDesign;
        font-size: 2.7vw;
        line-height: 1.2vw;
        text-align: center;
        transform: rotate(-10deg);
        position: absolute;
        bottom: 10%;
        left: 7%;
        margin: 0;
    }
    
}
nav {
    width: 12vw;
    padding-left: 5vw;
    margin-top: 50px;
    .nav-bar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .nav-logo {
            width: 75%;
            margin-bottom: 2vw;
        }
        li {
            padding: 0.7vw 0;
            font-size: 1vw;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}
#homeBody {
    display: flex;
    flex-direction: column;
    #homeHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        #homeTitle {
            display: flex;
            flex-direction: column;
            align-self: end;
            padding-right: 7%;
            h2 {
                font-size: 10vw;
                line-height: 8vw;
                text-align: center;
                letter-spacing: 5px;
                margin: 20px 0;
                font-family: IntegralCF;
                .underlined-blue {
                    border-bottom: 2px solid $blue;
                    padding-bottom: 20px;
                }
            }
        }
    }
    #homeContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 5vw 0;
        .articleHome {
            display: flex;
            flex-direction: column;
            width: 40%;
            align-items: center;
            video, img {
                width: 100%;
                margin: 5%;
                margin-bottom: 40px;
            }
            .border-gradient {
                box-shadow: 0 0 150px rgba(17, 105, 160, .3)
            }
            h3 {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
            }
            .subtitle-article-home {
                font-size: 15px;
                text-align: center;
                margin: 10px;
            }
            .link-article-home {
                font-size: 15px;
                text-transform: uppercase;
                margin: 20px;
                a {
                    color: $white;
                }
            }
            #workSectionHome {
                margin-top: 2vw;
            }
            .tipoIndustrial {
                font-family: IndustrialDesign;
                font-size: 2.7vw;
                line-height: 1.5vw;
                text-align: center;
                transform: rotate(3deg);
            }
            .btn-work-home {
                background: none;
                border: solid;
                color: white;
                border-color: $white;
                border-radius: 20px;
                padding: 15px 60px 20px;
                font-size: 1.6vw;
                cursor: pointer;
            }
        }
    }
}
#workBody {
    display: flex;
    flex-direction: row;
    height: 100vh;
    #workContent {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 83vw;
        .page-title {
            font-family: IntegralCF-Bold;
            font-size: 3.5vw;
            margin: 1vw 0 0 0;
        }
        .industrial-page-subtitle {
            font-family: IndustrialDesign;
            font-size: 2.1vw;
            text-align: center;
            line-height: 1.4vw;
            margin: 2vw 0 0 0;
        }
        #workMenu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-right: 4vw;
            position: relative;
            top: -2.4vw;
            .work-menu-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                img {
                    width: 120%;
                    position: relative;
                }
                #canImage {
                    margin-top: 2vw;
                }
                #cerealImage {
                    margin-top: 2.2vw;
                }
                .work-menu-item-tag {
                    border: solid;
                    border-width: 1px;
                    border-color: $white;
                    border-radius: 0.9vw;
                    padding: 0.8vw 0 1vw;
                    text-transform: uppercase;
                    width: 70%;
                    h3 {
                        font-size: 1vw;
                        text-align: center;
                        margin: 0;
                    }
                    p {
                        font-size: 0.8vw;
                        text-align: center;
                        margin: 0;
                    }
                }
            }
        }
        .side-notation {
            font-family: IndustrialDesign;
            font-size: 1.5vw;
            line-height: 1vw;
            transform: rotate(-10deg);
            position: relative;
            background-color: $darkgray;
        }
        #notationA {
            right: 2.8vw;
            bottom: 1.6vw;
        }
        #notationB {
            left: 8vw;
            bottom: 1vw;
            
        }
    }
}
#aboutmeBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #aboutmeHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        #aboutmeHeroImage {
            width: 32.4vw;
            img {
                width: 100%;
            }
            p {
                font-family: IndustrialDesign;
                position: relative;
                font-size: 2.5vw;
                text-align: center;
                transform: rotate(-10deg);
                bottom: 12vw;
                left: 14vw;
                line-height: 1.6vw;
                margin: 0;
            }
        }
        #aboutmeIntro {
            width: 48vw;
            display: flex;
            flex-direction: column;
            #aboutmeTitles {
                display: flex;
                flex-direction: column;
                width: fit-content;
                align-self: center;
                margin: 4vw 0;
                p {
                    font-family: IndustrialDesign;
                    font-size: 2vw;
                    margin: 0;
                    position: relative;
                }
                #hiIm {
                    top: 1.2vw;
                    left: -1.6vw;
                }
                #studentTrilingualBicultural {
                    top: -0.2vw;
                    align-self: center;
                }
                h2 {
                    font-family: IntegralCF-Bold;
                    font-size: 3vw;
                    margin: 0;
                    span {
                        font-family: IndustrialDesign;
                        font-size: 4vw;
                        position: relative;
                        top: 0.6vw;
                        left: -0.2vw;
                    }
                }
            }
            .aboutme-subtitle {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                margin-bottom: 1vw;
                h3 {
                    font-size: 1.8vw;
                    padding-left: 2vw;
                    margin: 0;
                }
                hr {
                    display: inline;
                    color: white;
                    background-color: white;
                    border-width: 0px;
                    width: 56%;
                    height: 1px;
                    margin: 0;
                }
            }
            ul {
                list-style: none;
                padding-right: 4vw;
                margin-bottom: 4vw;
                li {
                  font-size: 1.3vw;
                  line-height: 1.8vw;
                  font-weight: 300;
                  letter-spacing: 0.05vw;
                }
            }
            #aboutmeContact {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0 4vw;
                .contact-tag {
                    border: solid;
                    border-width: 1px;
                    border-color: $white;
                    border-radius: 0.8vw;
                    padding: 0.3vw 0;
                    margin: 0.5vw 1vw;
                    text-transform: uppercase;
                    width: 36%;
                    h3 {
                        font-size: 0.8vw;
                        text-align: center;
                        margin: 0.2vw;
                    }
                    p {
                        font-size: 0.6vw;
                        text-align: center;
                        margin: 0;
                    }
                }
            }
        }
    }
}